@page
@model ResearchLab.Pages.Publications.EditModel
@using ResearchLab_Library.Enums;

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Publication.Title" class="control-label"></label>
                <input asp-for="Publication.Title" class="form-control" />
                <span asp-validation-for="Publication.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publication.Description" class="control-label"></label>
                <input asp-for="Publication.Description" class="form-control" />
                <span asp-validation-for="Publication.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publication.Published" class="control-label"></label>
                <input asp-for="Publication.Published" class="form-control" />
                <span asp-validation-for="Publication.Published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publication.PublicationType" class="control-label"></label>
                <select asp-for="Publication.PublicationType" asp-items="Html.GetEnumSelectList<PublicationType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>

            <input type="hidden" asp-for="Publication.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
